[submodule "ghostty"]
	path = ghostty
	url = ../ghostty.git
	branch = cmux-terminal-kit
[submodule "homebrew-cmux"]
	path = homebrew-cmux
	url = https://github.com/manaflow-ai/homebrew-cmux.git
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/manaflow-ai/bonsplit.git
